main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color:white;
    display:block;
    padding: 20px;
}h1  {
    color: darkblue
}
img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 0px;
    box-shadow: 00 30px gray;
}
p   {
    padding: 0px;
}

aside {
    width: 20cm;
    margin: 1cm;
    border: 1px solid  rgb(0, 0, 0.2);
    padding: 1cm;
    background-color:  #eee;
    color:  #333;
    text-align: center;
}

saside img {
    width:200px;
    height: auto;
}    

footer {
    margin-top: 1cm;
    border-top:1px solid  #000;
    text-align
}